body {
    padding:0 10px;
    font:18px/1.5 -apple-system,
         BlinkMacSystemFont,
         "Segoe UI",
         Roboto,
         "Helvetica Neue",
         Arial,
         "Noto Sans",
         sans-serif,
         "Apple Color Emoji",
         "Segoe UI Emoji",
         "Segoe UI Symbol",
         "Noto Color Emoji";
    color:#444;
    margin: auto;
}

html, body {
    height: 100%;
    margin: auto;
    max-width: 88ch;
    /* background: pink; */
}

h1,h2,h3 {
    line-height:1.2
}

.header-div {
    height: 100%;
    min-height: 100%;
    text-align:center;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background: black; */
}

.promo-video-container {
    height: 100vh;
    display: table-cell;
    vertical-align: middle;
    /* background:green; */
}

.promo-video {
    max-width: 100%;
}

/* Running on touch device? */
@media (hover: none) {
    .promo-video-container {
        height:86vh;
    }
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
